.bookings-container {
  min-height: 700px;
  min-width: 100%;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
}

.upcoming-container, .past-container {
    min-height: 570px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.BI-header-container {
  font-weight: 800 ;
  margin-bottom: 0px ;
  font-size: 24px ;
  line-height: 30px ;
  letter-spacing: 1px ;
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(72, 72, 72) ;
  padding-top: 40px ;
  padding-left: 40px ;
}

.upcoming-bookings-container, .past-bookings-container {
    min-height: 500px;
    display: flex;
    flex-direction: row;
    padding: 60px;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.booking-container {
    height: 100%;
    width: 330px;
    display: flex;
    margin-right: 60px;
    flex-direction: column;
}

.booking-photo-container {
  cursor: pointer;
  height: 330px;
  min-width: 330px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.booking-photo {
  height: 100%;
  /* min-width: 330px; */
}

.booking-info-container {
  height: 90px;
}

.booking-info {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.booking-date, .booking-name {
  height:20px;
  color: rgb(90, 87, 87);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.booking-date {
    font-weight: 600;
}

