.modal-background-booking {
  position: fixed;
  min-height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);  
  z-index: 5000;
  /* overflow: scroll; */
  top: 0;

}

.modal-child-booking  {
  background: white;
  box-sizing: border-box;
  position: absolute;
  width: 415px;
  height: 435px;
  
  /* margin-top: 100px; */
  /* margin-bottom: 65px; */
  /* overflow: scroll; */

  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6000;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.X2 {
  height: 40px;
  width: 100%;
  margin-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-form-booking  {
  background: white;
  box-sizing: border-box;
  position: absolute;

  width: 100%;
  height: 350px;
  /* overflow: scroll; */
  margin-top: 16px;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.booking-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  /* padding-bottom: 24px; */
  /* justify-content: space-between; */
}

.modal-price-container {
  height: 35px;
}

.modal-price {
  font-size: 16px !important;
    font-weight: 800 !important;
    line-height: 1.375em !important;
    color: #484848 
}

.booking-dates-container {
  height: 100px;
  width: 100%;
}

.booking-dates-container {
  /* height: 200px; */
  display: flex; 
  flex-direction: column;
      border-top: 1px solid #e8e8e8;
    padding-top: 25px;
  margin-bottom: 15px;
}

.booking-label {
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    line-height: 1.33333em !important;
    color: rgb(72, 72, 72);
    margin-bottom: 2px;
}

.booking-dates {
  /* height: 170px; */
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  /* height: 40px; */
}

#date2 {
    /* height: 100%; */
  width: 100%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    padding-left: 13px;
    padding-right: 5px;
    color: #807b7b;
}

.booking-guests-container {
  height: 75px;
  width: 100%;
  margin-bottom: 20px;
}

.booking-guests2 {
  height: 50px;
}

.booking-guests {
  height: 100%;
  width: 100%;
  border: none;
  background: white;
  border-radius: 2px;
  border: 1px solid #e8e8e8;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: #484848;
  padding-left: 5px;

}

.booking-submit-container {
  width: 100%;
  height: 52px;
}

.booking-submit {
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    background: rgb(145, 70, 105) !important;
    border-color: transparent;
    height: 100%;
    width: 100%;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-weight: 700;
    color: white;
    line-height: 24px;
    font-size: 17px;
}

.modal-charge {
  height: 24px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 8px;
}

 