.spinner {
  margin: 200px auto 0;
  width: 200px;
  height: 200px;
  text-align: center;

}

.spinner > div {
  height: 2vw;
  width: 2vw;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* .bounce1, .bounce2, .bounce3 {
  height: 4vw;
  width: 4vw;
} */

.search-container, .bookings-container {
  min-height: 700px;
  min-width: 100%;
  /* margin-top: 89px; */
  /* border-top: 1px solid rgb(226, 226, 226); */

}

.search-container > {
  margin-top: 89px;
}

.search-map {
  /* height: 500px; */
  overflow: hidden;
  margin-top: 89px;
  position: fixed;
  width: 40%;
  height: 87%;
  right: 0;
  background: white;
  float: right;
}

.search-listings {
  /* z-index: -1; */
  /* border-top: 1px solid rgb(226, 226, 226); */
  position: relative;

  width: 60%;
  min-height: 800px;
  left: 0;
  float: left;
  overflow: auto;
}

.map-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.listings-index-container {
  min-height: 400px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.listings-index-header {
  margin-top: 24px;
  height: 40px;
  display: flex;
  margin-left: 10px
}

.index-logo-container {
  float: left;
  height: 50px;
  width: 50px;
}

.index-logo {
  height: 50px;
  width: 50px;
}

.index-aside {
  float: right;
  margin-left: 16px;
  /* font-size: 15px; */
  padding-top: 18px;
  padding-bottom: 10px;
  font-weight: 500;
  letter-spacing: .8px;
}

.aside-text {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;

}

.listings-container {
  margin-top: 50px;
  /* margin-bottom: 40px; */
}

.listings-header-container {
  padding-left: 8px;
  height: 40px;
  margin-bottom: 5px;
}

.listings-header {
  font-weight: 800 ;
  margin-bottom: 0px ;
  font-size: 24px ;
  line-height: 30px ;
  letter-spacing: 1px ;
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(72, 72, 72) ;
  padding-top: 2px ;
  padding-bottom: 2px ;
}

/* .listings-header-aside {
    font-size: 16px ;
    line-height: 22px ;
    letter-spacing: normal ;
    font-family: "Helvetica Neue", sans-serif ;
    color: rgb(72, 72, 72) ;
    font-weight: normal ;
    margin-top: 0px ;
    margin-bottom: 15px;
} */

.listings-header {
    font-weight: 800 ;
    margin-bottom: 0px ;
    font-size: 24px ;
    line-height: 30px ;
    letter-spacing: normal ;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgb(72, 72, 72) ;
    padding-top: 2px ;
    padding-bottom: 2px
}

.listings-ul {
  /* display: flex; */
  /* margin-top: 30px; */
  /* justify-content: center; */
  /* flex-flow: row wrap; */
  display: block;
  margin-bottom: 30px;
}

.list-item-container {
  /* flex: 1 0 300px; */
  width: 100%;
  height: 240px;
  display: inline-block;
  vertical-align: top
}

.list-item-ul {
  height: 100%
  /* min-height: 300px; */
  /* display: flex; */
}

.list-item-content {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  height: 100%;
  /* position: relative;
  display: flex;
  flex-direction: row; */
  /* justify-content: left; */
  /* align-items: flex-start; */

}

.list-item-link {
  /* height: 100%; */
  width: 100%;
      position: relative;
    display: flex;
    flex-direction: row;

        /* position: relative !important; */
    color: rgb(72, 72, 72) !important;
    height: 100% !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(235, 235, 235) !important;
    /* border-image: initial !important; */
    border-radius: 3px;
    cursor: pointer;
}

.list-item-link:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
}


.list-item-photo {
  height: 100%;
  min-width: 330px;
  border-radius: 4px;
  /* border: 1px solid black; */
  /* margin-bottom: 15px; */
  overflow: hidden;
}

.index-photo {
  /* max-width: 100%; */
  height: 100%;
  min-width: 330px;
}



.list-item-info {
  /* bottom: 0; */
  /* position: absolute; */
  /* height: 29%; */
  /* width: 100%; */
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.item-info-ul {
  display: flex;
  flex-direction: column;
}

.listing-sf {
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #767676;
}

.item-name {
    overflow-wrap: break-word ;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px ;
    font-weight: 600;
    line-height: 1.44444em;
    color: rgb(72, 72, 72);
    margin-bottom: 5px;
    margin-top: 5px;
}

.index-guests, .item-amenities {
    overflow-wrap: break-word;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28571em;
    color: rgb(72, 72, 72);
    margin-bottom: 3px;
}

.list-item-price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-item-price {
  overflow-wrap: break-word ;
  line-height: 1.44444em;
  color: rgb(72, 72, 72);
  margin-top: 2px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 1vw;
  font-weight: 800;
  line-height: 1.28571em;
}

#map{
  height: 100%;
}

.index-footer-container {
  width: 100%;
  /* text-align: center; */
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.index-footer-container2 {
  display: inline-block;
  display: flex;
  flex-direction: row;
  width: 230px;
  justify-content: space-between;
  margin-top: 100px;

}

.index-personal {
        overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: rgb(118, 118, 118);
    line-height: 1.28571em !important;
}