html {
  min-width: 100%;
  min-height: 100%;
  bottom: 0;
}

.body-main {
  min-height: 789px;
  min-width: 100%;
}

/* .body-main > {
  min-height: 789px;
  min-width: 100%;
} */

.body-container {
  min-height: 789px;
}

div {
  display: block;
  
}

#root {
  min-height: 789px;
  width: 100%;
}