* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #484848;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
}

.modal-background {
  position: fixed;
  min-height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5000;
  overflow: scroll;
  top: 0;
}

.modal-child  {
  background: white;
  box-sizing: border-box;
  position: absolute;
  width: 569px;
  margin-top: 100px;
  margin-bottom: 65px;
  overflow: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6000;
}

.modal-child-login  {
  background: white;
  box-sizing: border-box;
  position: absolute;
    width: 568px;
    height: 575px;
  /* overflow: scroll; */
  /* margin-top: 31px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;

}

.fb-google {
  height: 100px;
  margin-top: 21px;
  margin-bottom: 12px;
}

.session-button-login-fb {
  transition-property: background, border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    padding-left: 22px;
    padding-right: 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    background: rgb(69, 104, 178);
    border-color: transparent;
    margin-bottom: 10px;
}

.session-button-login-google {
      transition-property: background, border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    padding-left: 22px;
    padding-right: 22px;
    color: rgb(72, 72, 72);
    text-decoration: none;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    background: rgb(255, 255, 255);
    border-color: rgb(118, 118, 118)
}

#demo {
  cursor: pointer;
}

.session-button-login {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  height: 49px;

  text-align: center;
  background: blue;
}

.login-line {
  height: 40px;
  overflow: hidden;
      padding-top: 10px;
    /* margin-bottom: 5px; */
  color: rgb(201, 194, 194);
}

.X-signup {
  margin-left: 30px;
  width: 100%;
  margin-top: 25px;
}

.X-login {
  margin-left: 30px;
  width: 100%;
  margin-top: 30px;
  /* margin-bottom: 30px; */
}

.x {
  width: 40px;
  cursor: pointer;
}

.modal-form {
  /* height: 90%; */
  /* top: 10%; */
  /* margin-top: 15px; */
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 15px;
}

.modal-form-login {
  height: 90%;
  /* top: 10%; */
  /* margin-top: 15px; */
      padding-left: 30px;
    padding-right: 30px;
}

.remember {
  margin-bottom: 17px;
  font-size: 16px;

}

.forgot {
    margin-left: 140px;
    margin-right: 140px;
  text-align: center;
  font-size: 15px;
  margin-top: 17px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: rgb(15, 112, 112);
}

.modal-form > * {
  height: 100%;
}

.session-input-container, .session-form {
  height: 100%;
}

.session-form {
  padding: 10px;
  overflow: hidden;
}

.login-form {
  height: 300px;
  padding-top: 4px;
  /* bottom: 0; */
}

#input-session {
  width: 100%;
  padding-left: 15px;
  font-size: 17px;
  height: 49px;
  margin-bottom: 15px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background: white;
}

.bday-container {
  margin-top: 5px;
}
.bday-head {
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 17px;
}

.bday-legal {
    margin-top: 15px;
    font-size: 16px;
}

.bday-inputs-container {
  width: 100%;
  margin-top: 17px;
  margin-bottom: 16px;
  display: inline-block;

  box-sizing: border-box;
  border-radius: 4px;
  background: white;
  height: 49px;
}

.bday-input {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.bday-month {
  height: 100%;
  width: 41% 
}

.month, .day, .year {
  width: 100%;
  border: 1px solid #e8e8e8;
  background: white;
      font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #484848
}


.bday-day {
  height: 100%;
  width: 25%;
  
}

.bday-year {
  height: 100%;
  width: 30%;
}

select {
  height: 100%;
}

.funny {
     margin-bottom: 16px;
    margin-top: 11px;
    font-size: 15px;
    line-height: 1.27;
}

.session-button {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  height: 55px;
  text-align: center;
}

.signup, .login {
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  background:#FF5A5F;
  border-radius: 4px;
}

.line {
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 16px;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(201, 194, 194);
}

.switch-form {
  font-size: 16px;
}

.switch-form-login {
  font-size: 16px;
  margin-bottom: 10px;
}

.switch {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(15, 112, 112);
}

.form-header-container {
  width: 100%;
  margin-bottom: 16px;
  /* display: inline-block; */

  box-sizing: border-box;
  border-radius: 4px;
  background: white;
  height: 46px;
}

.form-header {
  text-align: center;
  font-size: 14.5px;
  font-weight: 550;
  margin-top: 15px;
  margin-bottom: 20px;
  letter-spacing: .5px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}