.nav2-head-splash {
  /* background: none; */
  /* position: fixed; */
  z-index: 100;
  width: 100%;
}

.nav2-container-splash {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 89px;
}

.nav2-search-container-splash {
      width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav2-button-splash {
  color: white;
  float: right;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-right: 25px;
  padding-left: 15px;
  background: none;
  border: none;
  font-weight: 600;
  outline: none;
  /* font-size: 16px; */
  /* letter-spacing: 1px; */
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
}

.prof-logo-splash {
    border-radius: 50%;
    height: 28px;
    /* margin: 0 auto; */
    margin-top: 3px;
    margin-right: .015px;
}

.logo-cont-splash {
  background-color: white;
    border-radius: 50%;
    height: 33px;
    width: 33px;
}

.search-icon {
    height: 20px;
    padding-left: 20px;
    padding-right: 15px;
    margin-top: 14px;
}