
.nav-container {
  /* overflow: hidden; */
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: 89px;
}

.nav-buttons {
  position: absolute;
  padding-right: 10px;
  right: 0px;
  width: 50%;
  height: 89px;
  float: right;
}

.nav-buttons * {
  float: right;
  color: white;
  padding-top: 34px;
  padding-bottom: 34px;
  padding-right: 25px;
  padding-left: 15px;
  background: none;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-button:hover {
  border-bottom:3px solid
}

.nav-logo-container {
  position: absolute;
  left: 0px;
  width: 50%;
  height: 89px;
}

.nav-logo {
   height: 89px;
   width: 80px;
}

.logo {
    padding: 24px;
    height: 89px;
    width: 93px;
}

/* NAV BAR 2: */

.nav2-head {
  position: fixed;
  z-index: 100;
  background: white;
  width: 100%;
}

.nav2-head *{
  /* z-index: 100; */
  background:  whitergb(248, 246, 246)
}

.nav2-container {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between;
  height: 89px;
  border-bottom: 1px solid rgb(226, 226, 226);
  /* z-index: 10; */
  background: white;
}

.nav2-buttons-container {
  width: 35%;
    display: flex;
    flex-direction: row-reverse;
}

.nav2-search-container {
    background: white;

  width: 65%;
  display: flex;
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;  
              /* default value; can be omitted */
}

.nav2-button {
  float: right;
  color: rgb(90, 87, 87);
  padding-top: 34px;
  padding-bottom: 34px;
  padding-right: 25px;
  padding-left: 15px;
  background: none;
  border: none;
  font-weight: 600;
  outline: none;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
}

.nav2-button:hover {
  border-bottom:3px solid
}

.nav2-search-outer {
  width: 460px;

}

.nav2-logo {
  height: 80px;
  width: 80px;
  margin-right: 5px;
  margin-top: 5px;
    /* z-index: 10; */
  background: white;
} 

.nav2-search-inner {
    width: 100%;
    margin-top: 19px;
    margin-bottom: 19px;
    height: 50px;
    border-radius: 4px;
    background: white;

    /* z-index: 50; */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) ;
    transition: box-shadow 200ms ease-in !important;
    border: 1px solid #EBEBEB !important;
        display: flex;
    flex-direction: row;
}

.nav2-search-inner:hover {
    box-shadow: 3px 5px 6px rgba(43, 42, 42, 0.1);
}

/* @media(max-width:690px) */

#nav2-search {
    /* margin-left: 60px; */
    height: 100%;
    width: 390px;
    border: none;
    outline: none;
    font-weight: 800;
    font-size: 20px;
    color: black;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
}

.logo2 {
  padding: 20px;
  height: 80px;
  width: 80px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content, .drop-content2 {
  display: none;
  position: absolute;
  top: 89px;
  height: 300px;
  width: 280px;
  right: 5px;
  background-color:white;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  /* display: flex; */
  flex-direction: column;

}

.drop-button {

width: 240px;
padding-top: 16px;
padding-bottom: 16px;
margin-left: 16px;
margin-right: 16px;
border: none;
border-bottom: 1px solid rgb(242, 242, 242);
border-color: rgb(242, 242, 242);
outline: none;
overflow-wrap: break-word;
font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 1.28571em;
color: rgb(118, 118, 118);
text-align: left;
}


.prof-logo {
  border-radius: 50%;
  height: 28px;
}

.prof-button {
    outline: none;
    background: none;
    border: none;
    margin-right: 20px;
    height: 89px;
}