.RF-container {
  width: 100%;
  height: 100%;
  padding-top: 130px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.RF-header-container {
  min-height: 70px;
  
}

.RF-header {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 700 ;
  margin-bottom: 0px ;
  font-size: 24px ;
  line-height: 30px ;
  letter-spacing: 1px ;
  color: rgb(72, 72, 72) ;
  padding-top: 2px ;
  padding-bottom: 2px ;
}

.RF-body-container {
  height: 100%;
  width: 100%;
}

.RF-body-input-container {
  height: 300px;
  width: 400px;
  margin-bottom: 20px;
}

.RF-body-input {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
}