.show-body-container {
  width: 100%;
  min-height: 700px;
  /* margin-top: 88px; */
  /* overflow: scroll; */
  display:flex;
  position: relative;
  flex-direction: column;

  /* z-index: -1; */
}

.show-body {
  width: 100%;
  min-height: 700px;
  padding-top: 88px;
  /* overflow: scroll; */
  display:flex;
  position: relative;
  flex-direction: column;

  /* z-index: -1; */
}

.show-photos-container {
  border-radius: 4px;
  /* margin-top: 89px; */
  width: 100%;
  height: 520px;
  /* height:  100%; */
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: row;
}

.show-photo-name {
  width: 33%;
  /* height: 100%; */
  background: rgb(245, 242, 242);
      padding: 40px;
      /* display: flex; */
      /* flex-direction: column; */
      /* justify-content: space-around; */
  position: relative;
}

.show-name {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 65px;
  /* padding: 40px; */
  /* height: 200px; */
  /* margin-top: auto; */
  text-align: center;
  position: absolute;
  top: 30%;
  word-wrap: break-word ;
}

.show-photos {
  width: 67%;
  height: 100%;
  margin-left: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.show-photo {
  width: 100%;
  /* position: absolute; */
  /* bottom:0px; */
}

.show-info-container {
  /* padding-right: 80px;
  padding-left: 80px;
  margin-top: 64px;
  margin-bottom: 64px;
  min-height: 200px;
  border-bottom: 1px solid rgb(226, 226, 226);
  display: flex;
  flex-direction: row;
  position: relative; */
  margin-right: 80px;
    margin-left: 80px;
    margin-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 64px;
    min-height: 200px;
    border-bottom: 1px solid rgb(226, 226, 226);
    display: flex;
    flex-direction: row;
    position: relative;
}

.show-info-container2 {
  width: 67%;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.show-info {
  height: 20px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  font-size: 14px ;
  font-weight: 800 ;
  line-height: 1.2857142857142858em ;
  color: #484848;
  margin-bottom: 16px;
}

.show-description {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75em;
  color: #484848;
  height: 80px;
}

.show-host {
  width: 33%;
  height: 200px;
}

.show-tour-container {
  /* border-radius: 4px;
  width: 100%;
  height: 460px;
  padding-right: 80px;
  padding-left: 80px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column; */
      border-radius: 4px;
    /* margin-top: 89px; */
    /* width: 100%; */
    min-height: 460px;
    margin-right: 80px;
    margin-left: 80px;
    /* padding-bottom: 64px; */
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.tour-container {
    min-height: 300px;
  width: 100%;
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.other-photo {
max-height: 300px;
    width: 23%;
  margin-bottom: 10px;
  margin-right: 10px;
  background: black;
  /* background: rgb(245, 242, 242); */
  overflow: hidden;
}

.other-img {
  height: 100%;
      display: block;
  margin-left: auto;
  margin-right: auto;
      max-width: 435px;
}

.show-amenities-container {
  /* border: 1px solid grey; */
  border-radius: 4px;
  /* margin-top: 89px; */
  /* width: 100%; */
  min-height: 520px;
  /* padding-right: 80px;
  padding-left: 80px; */
      margin-right: 80px;
    margin-left: 80px;
  /* padding-top: 64px; */
  margin-bottom: 64px;
  border-bottom: 1px solid rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
}

.show-amenities-title {
  width: 100%;
  height: 75px;
  margin-bottom: 50px;
}

.amenities-title {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.375em;
    color: #484848;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.amenities-container {
  min-height: 300px;
  width: 100%;
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.amenity-box {
    min-height: 300px;
    max-width: 24%;
  margin-bottom: 10px;
  margin-right: 10px;
  background: rgb(245, 242, 242);
  display: flex;
  flex-direction: column;
  /* padding-bottom: 10px; */
  justify-content: space-between;
}

.amenity-photo {
  height: 200px;
  width: 300px;
  overflow: hidden;
}


.amenity-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.amenity-type {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 22px !important;
  height: 100px;
  padding-bottom: 20px;
  padding-top: 40px;
  text-align: center;
}

.show-reviews-container {
  /* border: 1px solid grey; */
  border-radius: 4px;
  /* margin-top: 89px; */
  width: 100%;
  height: 200px;
  padding-right: 80px;
  padding-left: 80px;
  /* margin-bottom: 64px; */
  display: flex;
  flex-direction: column;
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.28571em !important;
}

.show-footer {
  position: fixed;
  bottom: 0;
  height: 89px;
  width: 100%;
  background: white;
  z-index: 100;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.14)
  /* border: 1px solid black; */
}

.show-footer-content {
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.show-footer-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.show-footer-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;

}

.logo3 {
  margin-left: 10px;
  height: 100%;
  width: 50px;
}

.footer-name {
  margin-left: 40px;
  word-wrap: break-word ;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
  font-size: 16px ;
  font-weight: 800 ;
  line-height: 1.3333333333333333em ;
  letter-spacing: 0.08333333333333333em ;
  color: #767676;
  padding-top: 15px;
}
/* .footer-price, .footer-button {
  position: absolute;
  right: 0;
} */

.show-footer-button {
  height: 100%;
  width: 175px;
  margin-left: 25px;
  border-radius: 4px;
  background: #914669;
      font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.375em !important;
    color: #ffffff
}

.footer-price {
    padding: 10px;
    font-size: 16px !important;
    font-weight: 800 !important;
    line-height: 1.375em !important;
    color: #484848 
}

.index-footer-container3 {
  width: 100%;
  padding-bottom: 100px;
  /* text-align: center; */
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.index-footer-container4 {
  display: inline-block;
  display: flex;
  flex-direction: row;
  width: 230px;
  justify-content: space-between;

}

.index-personal3 {
        overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: rgb(118, 118, 118);
    line-height: 1.28571em !important;
}