<!DOCTYPE html>
<html>
  <head>
    <title>VanBnb</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAb1J8_aFITMmAJyOfXWARxFvU_WOdHAHk" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body class="body-main">
    <%= yield %>
  </body>
</html>


